

.header{
    position: fixed;
    background-color: #E5E5E5;
    top: 0;
    left: 0;
    width: 100vw;
    scroll-behavior: smooth;
    z-index: 99;
}


.header article{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    max-width: 1024px;

}
.header button{
    background-color: rgba(2,151,186,1);
    color: #fff;
    font-family: inherit;
    font-weight: 900;
    font-size: 1em;
    border: none;
    padding: 0.5em 1em;
    transition: .5s ease;
    border-radius: 1rem;
}

.header button:hover{
     scale: calc(1.1);
     background-color: transparent;
     color: black;
     box-shadow: 0 0 2rem rgba(2,151,186,1);
}

@media (min-width: 1024px) {
    .header article{
        width: calc(992px + 32px);
       
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}