

.header{
    position: fixed;
    background-color: #E5E5E5;
    top: 0;
    left: 0;
    width: 100vw;
    scroll-behavior: smooth;
    z-index: 99;
}


.header article{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    max-width: 1024px;

}
.header button{
    background-color: #555A88;
    color: #fff;
    font-family: inherit;
    font-weight: 900;
    font-size: 1em;
    border: none;
    padding: 0.5em 1em;
    transition: 0.3s ease-in;
}

.header button:hover{
    background-color: #474292;
}

@media (min-width: 1024px) {
    .header article{
        width: calc(992px + 32px);
       
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}