/* RESET */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rebeccapurple;
    color: #0F0F2D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding: 0;
}

input{
    outline: 0;
}

img{
    display: block;
}